{% extends 'layout.html' %}

{% block title %}Orders Report{% endblock %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
    <script>
    function generate() {
    var doc = new jsPDF('p', 'pt', 'letter');
    var htmlstring = '';
    var tempVarToCheckPageHeight = 0;
    var pageHeight = 0;
    pageHeight = doc.internal.pageSize.height;
    specialElementHandlers = {
        // element with id of "bypass" - jQuery style selector
        '#bypassme': function(element, renderer) {
            // true = "handled elsewhere, bypass text extraction"
            return true
        }
    };
    margins = {
        top: 150,
        bottom: 60,
        left: 40,
        right: 40,
        width: 600
    };
    var y = 20;
    doc.setLineWidth(2);
    {#doc.text(200, y = y + 30, "");#}
    doc.autoTable({
        html: '#reporttable',
        startY: 70,
        theme: 'grid',
        columnStyles: {
            0: {
                cellWidth: 90,
            },
            1: {
                cellWidth: 90,
            },
            2: {
                cellWidth: 90,
            },
            3: {
                cellWidth: 90,
            }
        },
        styles: {
            minCellHeight: 40
        }
    })
    doc.save('ProductsReport.pdf');
}

    </script>
    <script>
        $(document).ready(function (){

            $("#search").click(function (){
                var year = $("#year").val();
                var month = $("#month").val();
                var orders = viewOrdersByMonthAndYear(month,year);
                $("#reporttable").empty();
                $("#reporttable").append("<tr><th>Outlet Name</th><th>Order Number</th><th>Order Date</th><th>Order Total</th></tr>");
                var i = 0;
                while (i < orders.length){
                    var order = orders[i];
                    var outlet = viewAnOutlet(order.OutletID);
                    $("#reporttable").append("<tr><th>"+outlet.OutletName+"</th><th>"+order.OrderNumber+"</th><th>"+order.OrderDate+"</th><th>Order Total</th></tr>");
                    i = i + 1;
                }
            });

            $("#exitBtn").click(function (){
                window.location.href = "{{ url_for('home') }}";
            });


            $("#print").click(function (){
                generate();
            });

        });
    </script>




    <div class="login-box">
    <div class="login-header">Product Report</div>
    <div class="login-body">
        <p>Please Select Month</p>
        <select id = "month">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <p>Please Select Year</p>
        <select id="year">
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
        </select>
        <button id="search">Search</button>
        <div id="ordersInfo">
            <table id="reporttable">


            </table>
            <button id="exitBtn">Close</button>
            <button id="print">Print</button>
        </div>
    </div>
</div>
{% endblock %}